<h2>All books</h2>

<% if books.any? %>
  <div id="books">
    <% books.each do |book| %>
    <div class="book">
      <h3><%= book.title %></h3>
      <p><%= book.author %></p>
    </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no books yet.</p>
<% end %>
